.wrapper {
    background-color: #F6F6F6;
}

.wrapper:nth-child(2) {
    border-radius: 20px 20px 0 0;
}

.wrapper:last-child {
    border-radius: 0 0 20px 20px;
}

.container {
    padding: 18px;

    display:grid;

    grid-template-columns: 1fr 60px;
    grid-template-areas: 
    "header info"
    "subheader info";
}

.containerActive {
    background-color: #FABB18;
    border-radius: 20px;
}

.timelineContainer {
    position: relative;
}

.circle {
    position: absolute;
    top:25px;
    left: 50%;
    transform: translateX(-50%);

    height: 12px;
    width: 12px;
    background-color: white;
    outline:3.5px solid #FABB18;
    border-radius: 50%;
    
    margin: 0 auto;
}

.line {
    height: 100%;
    width: 3px;
    background-color: #FABB18;
    
    margin: 0 auto;
}

.header {
    grid-area:header;
    font-weight: bold;
    font-size: 22px;
}

.headerActive {
    color: #301C03;
}

.subHeader {
    grid-area:subheader;
    color: #C2C2C2;
    font-size: 16px;
}

.subHeaderActive {
    color: #966900;
}

.info {
    grid-area:info;
    text-align: right;
}

.infoActive {
    color:#A17101;
}